.topnav {
    background: $dark_teal;
    margin-bottom: -5px;

    a {
        color: white;

        &:hover {
            color: $dark_gray;
        }

    }

    .navbar {
        width: 100%;
        border: none;
        margin-bottom: 0;

        .navbar-collapse {
            flex-grow: 0;
        }

        .navbar-toggler {
            padding-top: 10px;
        }

        .fa {
            color: white;

            &:hover {
                color: $dark_gray;
            }
        }

    }

}
