<div class="content about">
  <div class="container">
    <h2>About Me</h2>
    <div class="row">
      <div class="col-xs-12">
        <!--add background image?-->
          <p>
              My name is Stefan Hodges-Kluck and (insert snappy description of my skills and interests, lasting about 1-3 paragraphs, that will take up this space.)
            </p>
            <p>
                You can't expect to wield supreme power just 'cause some watery tart threw a sword at you! Shh! Knights, I bid you welcome to your new home. Let us ride to Camelot! He hasn't got shit all over him. Well, I got better.
            </p>
            <p>
                Bloody Peasant! Found them? In Mercia?! The coconut's tropical! I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second time!
            </p>
            <div class="guiding-link d-flex flex-column">
              <a routerLink="/portfolio">Check Out My Work!</a>
            </div>
      </div>
    </div>
  </div>
</div>