<div class="content about">
  <div class="container">
    <h2>About Me</h2>
    <div class="row no-gutters">
      <div class="col-xs-12">
        <p>
          I am passionate about web development. I love the creativity involved in designing, developing, and deploying pages and apps. I excel at the critical thinking and problem-solving necessary to bring a digital project from concept to reality. I enjoy making products that combine functionality and aesthetics to provide users the best experience possible. 
        </p>
        <p>
          As a web developer, I keep  a wide variety of skills and technologies in my toolbox. In addition to HTML/CSS/JavaScript (the bread and butter of the web), I am familiar with modern frameworks like Angular 2+ and React. I have worked with CMS like Wordpress, Hubspot, and Kentico. I have even dabbled in design tools like AdobeXD and GIMP. Ultimately, though, I consider my work less about the tools I use and more about the products I create. So I’m always interested in learning new languages, frameworks, and technologies to add to my repertoire. 
        </p>
        <p>
          Before working in web development, I taught ancient History at the University of Tennessee, Knoxville, so I’m always up for a chat about the Romans. When not working, I enjoy cycling and hiking. Having lived in both the Rockies and Appalachia, I always enjoy a trip to the mountains! 
        </p>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="guiding-link d-flex flex-column">
          <a routerLink="/portfolio">Check Out My Work!</a>
        </div>
      </div>

    </div>
  </div>
</div>