<div class="content about">
  <div class="container">
    <h2>About Me</h2>
    <div class="row no-gutters">
      <div class="col-xs-12 col-md-6 pr-md-3 d-flex flex-column justify-content-between">
        <p>
          I love building full-stack web apps and cross-platform mobile apps. I excel at the critical thinking and problem-solving necessary to bring these projects from concept to reality. I enjoy making products that combine functionality and aesthetics to provide users the best experience possible.
        </p>
        <p>
          I am passionate about continuing to learn new skills. Before entering tech, I taught History and Latin at the university level. Whether ancient civilizations or the newest tech stack, I am always eager to expand my mind!
        </p>
        <div class="guiding-link flex-column d-none d-md-flex">
          <a routerLink="/portfolio">Check Out My Work!</a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 pl-md-3 d-flex flex-column justify-content-between">
        <div *ngFor="let skill of skills | keyvalue : sortSkills" class="skill-bar">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.value}}" [style.width]="skill.value + '%' " aria-valuemin="0" aria-valuemax="100">{{skill.key}}</div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-3 d-md-none">
        <div class="guiding-link d-flex flex-column">
          <a routerLink="/portfolio">Check Out My Work!</a>
        </div>
      </div>
    </div>
  </div>
</div>