.portfolio-items {
    .card-body {
      background: $med_teal;
      padding: 0;
      
        a {
            background: $med_teal;
            border: none;

            &:hover {
              * {
                color: $med_gray;
              }  
            }

            &:after {
                color: $med_gray;
            }
        }
    }
}