.portfolio-items {
  .guiding-link {    
    a {
      background: $med_teal;
      border: none;
      padding: 0;
      margin: 0;

      &:hover {
        * {
          color: $med_gray;
        }

        .card-img-top {
          opacity: 0.5;
        }
      }

      &:after {
        color: $med_gray;
        bottom: 37px; 
        top: auto;
      }

      .card {
        background: $med_teal;

        .card-header {
          padding: .5rem .25rem;
        }
  
        .card-body {
          p {
            margin-right: 20px;
          }
        }
      }
    }
  }
}