<div class="content contact">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Get in Touch</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-around mt-5">
      <a href="https://www.linkedin.com/in/stefanhk31" target="_blank" rel="noopener"><i class="fab fa-linkedin fa-5x"
          aria-hidden="true"></i></a>
      <a href="https://github.com/stefanhk31" target="_blank" rel="noopener"><i class="fab fa-github fa-5x"
          aria-hidden="true"></i></a>
      <a href="https://twitter.com/stefanhk31" target="_blank" rel="noopener"><i class="fab fa-twitter fa-5x"
          aria-hidden="true"></i></a>
    </div>
  </div>
</div>