.welcome {
    background-image: linear-gradient($dark_teal, $light_gray);

    .welcome-text-wrapper {
        padding-top: 25px;

        @media(min-width: 768px) {
            max-width: 400px;
            padding-top: 0;
        }

        .opening-text {
            color: $black;
         }

    }

    h1 {
        color: $med_gray;
    }

    img.img-thumbnail {
        border-radius: 50%;
        border-color: $med_gray;
        background: $med_gray;
    }



}