.welcome {
    background-image: linear-gradient($dark_teal, $light_gray);

    h1 {
        color: $med_gray;
    }

    .opening-text {
       color: $black;
    }

    img.img-thumbnail {
        border-radius: 50%;
        border-color: $med_gray;
        background: $med_gray;
    }



}