<div class="topnav">
  <nav class="navbar navbar-expand-md d-flex justify-content-between">
    <a routerLink="/" class="navbar-brand">SHK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navTopnav"
      aria-controls="navTopnav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
          <i class="fa fa-bars"></i>
      </span>
    </button>  
    <div id="navTopnav" class="collapse navbar-collapse">
        <div class="navlink-wrapper float-right">
            <div class="navbar-nav">
              <a class="nav-item nav-link" routerLink="/about">About Me</a>
              <a class="nav-item nav-link" routerLink="/portfolio">Portfolio</a>
              <a class="nav-item nav-link" routerLink="/contact">Get In Touch</a>
            </div>
          </div>
      </div>
  </nav>
</div>