<div class="topnav">
  <nav class="navbar navbar-expand-lg d-flex justify-content-between">
    <a href="#" class="navbar-brand">SHK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTopnav"
      aria-controls="navbarTopnav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
    </button>
        
    <div class="collapse navbar-collapse" id="navbarTopnav">
        <div class="navlink-wrapper float-right">

            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#">Welcome</a>
              <a class="nav-item nav-link" href="#">Portfolio</a>
              <a class="nav-item nav-link" href="#">Contact</a>
            </div>

          </div>

          </div>

  </nav>
</div>