.portfolio-items {
    .guiding-link {
        a {
            background: $med_teal;
            border-color: $med_gray;

            &:hover {
              * {
                color: $med_gray;
              }  
            }

            &:after {
                color: $med_gray;
            }
        }
    }
}