<div class="welcome">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Welcome!</h1>
            </div>
            <div class="col-xs-12 col-md-6 text-center">
                    <img class="img-thumbnail" src="../../assets/img/stefan-photo.jpg">
            </div>
            <div class="col-xs-12 col-md-6">
                    <p class="text-center">I'm Stefan Hodges-Kluck, a front-end developer, passionate creator, and life-long learner.
                        </p>
                        <div class="welcome-links d-flex flex-column justify-content-between">
                            <a routerLink="/about" (click)="toggleWelcome()">About Me</a>
                            <a routerLink="/portfolio" (click)="toggleWelcome()">Portfolio</a>
                            <a routerLink="/contact" (click)="toggleWelcome()">Get In Touch</a>
                        </div>
            </div>
        </div>
    </div>
</div>