<div class="content welcome">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Welcome!</h1>
            </div>
            <div class="col-xs-12 col-md-6 text-center">
                    <img class="img-thumbnail" src="assets/img/stefan-photo.jpg">
            </div>
            <div class="col-xs-12 col-md-6 d-flex align-items-center">
                    <div class="welcome-text-wrapper">
                        <p class="text-center">I'm Stefan Hodges-Kluck, a web developer, passionate creator, and life-long learner.
                        </p>
                        <div class="guiding-link d-flex flex-column">
                            <a routerLink="/about">Check Out My Story!</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>