.welcome {
    background-image: linear-gradient($dark_teal, $light_gray);

    .welcome-text-wrapper {
        padding-top: 25px;

        @media(min-width: 768px) {
            max-width: 400px;
            padding-top: 0;
        }

    }

    h1 {
        text-shadow: 2px 2px $dark_gray;
    }

    p {
        font-size: 1.2rem;
        text-shadow: 1px 1px $dark_gray;
    }

    img.img-thumbnail {
        border-radius: 50%;
        border-color: $med_gray;
        background: $med_gray;
    }

    .guiding-link {
        a {
            border-color: $med_gray;
        }
    }



}